* {
  box-sizing: border-box;
}

html {
	/*background-image: url(http://assets2.ignimgs.com/2015/08/06/darth-vader-crossed-arms-1280jpg-88461e1280wjpg-67c0c2_1280w.jpg);
	background-image: url(http://vignette4.wikia.nocookie.net/starwars/images/f/ff/X-wing_SWGTCG.jpg/revision/latest?cb=20090319165201);
	background-size: cover;
	min-height: 100%;*/
}

body {
	margin: 0px;
	font-family: 'Poppins', Arial, sans-serif;
	font-size: 15px;
	margin-bottom: 70px;
}

a {
	color: #ffffff;
}

a:hover {
	color: #d8931c;
}

#adHolder {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	z-index: -100;
}

#header-top {
	width: 100%;
	padding: 10px;
    border-bottom: 1px solid #666666;
    background: #000000;
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    /*background-color: rgba(0,0,0,0.75);*/
}

#header-inner {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
}

#logo {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}

#header-top p {
	color: #FFFFFF;
}

#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 20px;
	background-color: rgba(0,0,0,0.75);
	height: 100%;
}

#main-content {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	/*background-color: rgba(0,0,0,0.75);*/
	margin-top: 0px;
	margin-bottom: 20px;
	border: 0px solid #666666;
}

#secondary {
	width: 960px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	background-color: rgba(0,0,0,0.75);
	margin-left: auto;
	margin-right: auto;
}

#replay {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.action {
	background-color: rgba(220,129,15,0.65);
	font-size: 12px;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	border: 0px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.audio {
	font-size: 12px;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	border: 0px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.audioOn {
	background-color: rgba(220,129,15,0.65);
}

.audioOff {
	background-color: rgba(100,100,100,0.65);
}

.faceVaderClass {
	background-color: rgba(220,0,0,0.65);
	font-size: 18px;
	font-weight: 600;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	border: 0px;
	margin-bottom: 5px;
	margin-top: 10px;
	display: block;
	margin-right: auto;
    margin-left: auto;
}

.playOn {
	width: 100%;
	text-align: center;
}

#instructions {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(0,0,0,0.75);
	display: inline-block;
	position: relative;
}

#instructions h1{
	font-size: 16px;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
}

#instructions ol {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px;
}

#instructions ol li {
	font-size: 12px;
	color: #d8931c;
	margin: 0px;
	padding: 0px;
	list-style-position: outside;
}

#instructionsContent {
	display: inline-block;
}

#instructionsControls {
	display: inline-block;
	text-align: right;
	width: 5%;
	vertical-align: top;
}

#supplemental {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	/*background-color: rgba(0,0,0,0.75);*/
}

#supplemental h1{
	font-size: 26px;
	color: #d8931c;
	margin: 0px;
	padding: 0px;
	font-weight: 300;
}

.white {
	color: #FFFFFF;
}

#updates {
	width: 100%;
	padding: 5px;
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 0px solid #666666;
	text-align: center;
	position: relative;
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
	font-style: italic;
	background-color: rgba(220,129,15,0.15);
}

#lineup {
	position: relative;
    left: 0px;
    bottom: 000px;
	border: 1px;
}

.lineup {
	padding: 10px;
	border: 1px solid #666666;
	text-align: center;
	margin-bottom: 20px;
}

.lineup h4 {
	font-size: 48px;
	font-style: normal;
	color: #d8931c;
}

.faded {
	opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

.hidden {
	display: none;
	opacity: 0.0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}

#battfieldHolder {

}

#battlefield {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 5px;
	border: 1px solid #666666;
	text-align: center;
	margin-bottom: 20px;
}

.character {
	display: inline-block;
}

.character h2 {
	font-size: 14px;
	font-style: normal;
	color: #ffffff;
	text-align: center;
	font-weight: 300;
	margin: 0px;
	padding: 0px;
}

.character h3 {
	font-size: 16px;
	font-style: normal;
	color: #d8931c;
	text-align: center;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}

.character img {
	height: 250px;
}

.winnerImage img{
	height: 250px;
}

.winner h3 {
	font-size: 22px;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
	font-weight: 300;
}

.playAgain {
	font-size: 22px;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
	font-weight: 300;
}

.vaderText {
	font-style: italic;
	color: red;
	font-size: 28px;
	text-align: center;
}

.vs {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	text-align: center;
}

.vs h4 {
	font-size: 64px;
	font-style: normal;
	color: #d8931c;
	text-align: center;
	font-weight: 600;
	margin-top: 40px;
	padding: 0px;
	margin-right: 5px;
	margin-left: 5px;
}

.victory {
	display: inline-block;
	vertical-align: top;
	padding: 20px;
}

.victory h1 {
	font-size: 24px;
	color: #ffffff;
	margin-top: 50px;
}

.battle {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px;
	vertical-align: top;
	text-align: center;
	width: 250px;
}

.battle h1{
	font-size: 64px;
	font-style: normal;
	color: #ffffff;
	text-align: center;
	font-weight: 600;
	margin-top: -20px;
	margin-bottom: 0px;
	padding: 0px;
}

.battle h2{
	font-size: 22px;
	font-style: normal;
	color: #d8931c;
	text-align: center;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}

.battle h3{
	font-size: 30px;
	font-style: normal;
	color: #ffffff;
	text-align: center;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}

button.attack {
	background: #a11212;
	font-size: 14px;
	font-style: normal;
	color: #ffffff;
	text-align: center;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 6px;
	border: 0px;
}

button.attack:hover {
	background: #db5115;
}

button.attack:active {
	background: #730808;
}

button.force {
	background: #2d722d;
	font-size: 14px;
	font-style: normal;
	color: #ffffff;
	text-align: center;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 6px;
	border: 0px;
}

button.force:hover {
	background: #2554c0;
}

button.force:active {
	background: #24243f;
}

button.action:hover {
	background: #2554c0;
}

button.action:active {
	background: #24243f;
}

button.audio:hover {
	background: #2554c0;
}

button.audio:active {
	background: #24243f;
}

button.faceVaderClass:hover {
	background: #d97b00;
}

button.faceVaderClass:active {
	background: #000000;
}

.buttons {
	text-align: center;
}

h1.defenderHP {
	display: inline-block;
}

h1.heroHP {
	display: inline-block;
}

h4.damage {
	margin-top: -5px;
	padding: 0px;
	color: red;
	font-size: 30px;
	margin-bottom: 0px;
	margin-left: -5px;
	font-weight: 300;
	display: inline-block;
	vertical-align: top;
}

h4.heroDamage {
	margin-top: -5px;
	padding: 0px;
	color: red;
	font-size: 30px;
	margin-bottom: 0px;
	margin-left: -5px;
	font-weight: 300;
	display: inline-block;
	vertical-align: top;
}

.propaganda {
	opacity: 0.8;
    filter: alpha(opacity=7); /* For IE8 and earlier */
}

img.prop {

}

img.ad {
	margin-top: 20px;
	max-height: 500px;
}

#footer {
	background-color: rgba(0,0,0,0.75);
	width: 100%;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	padding: 5px;
	border-top: 1px solid #666666;
	height: 70px;
	position: fixed;
	bottom: 0;
	left: 0;
}

#footer p {
	font-size: 12px;
	color: #666666;
}




@media screen and (max-width: 768px) {
	
}